{% extends 'website/templates/layout.html' %}

{% block style %}
    <link href="/website/static/website/css/carousel.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Bienvenu, ami chêteur !</h1>
            <p>Retrouve toutes les applications de la Chête ici.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    {% load staticfiles %}

    <div class="container marketing">
    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Les sondages. <span class="text-muted">Ton avis ne compte pas.</span></h2>
          <p class="lead">Parce que chaques années, la Chête se doit d'entérer les éditions précédentes, on a besoin de ton avis !</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static "website/images/we_need_you.jpg" %}" alt="We need you for the Chête !">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Venir ! <span class="text-muted">A deux c'est mieux.</span></h2>
          <p class="lead">Parce qu'on t'aime, on t'as même fait un GPS, c'est pas beau ça ?</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
{% endblock %}
