{% extends 'website/layout.html' %}

{% block title%}La Chête - Organisation{% endblock %}

{% block content %}
    <h1>Organisation</h1>
    <p>Cliquer pour modifier le tableau : <a href="https://docs.google.com/spreadsheets/d/1JY5y38M0aTr-jU1oTHyeLpMiN4hj1-5InX1Kah7lwOY/edit?usp=sharing" class="btn btn-primary" target="_blank">Editer</a></p>
    <iframe width="100%" height="400" src="https://docs.google.com/spreadsheets/d/1JY5y38M0aTr-jU1oTHyeLpMiN4hj1-5InX1Kah7lwOY/pubhtml?widget=true&amp;headers=false"></iframe>
{% endblock %}