Django==1.7.7
django-bootstrap-form==3.2.1
django-debug-toolbar==1.3.0
django-grappelli==2.6.4
django-markdown==0.8.4
djangorestframework==3.1.1
Markdown==2.6.1
Pillow==2.8.1
sqlparse==0.1.14
Unidecode==0.4.17
