{% extends "blog/templates/blog/layout.html" %}

{% load django_markdown %}

{% block post %}
    <div class="col-sm-8 blog-main">

    <div class="blog-post">

        <h2 class="blog-post-title"><a href="{% url 'blog:detail' slug=article.slug %}">{{ article.titre }}</a></h2>
        <p class="blog-post-meta">Publié le {{ article.date_de_parution }} dans la catégorie <strong>{{ article.categorie.all|join:", " }}</strong></p>

        <p>{{ article.contenu|markdown }}</p>

    </div>
    </div>

{% endblock %}