{% extends "blog/templates/blog/layout.html" %}

{% load django_markdown %}

{% block post %}
    <div class="col-sm-8 blog-main">

        <div class="blog-post">

            <h2 class="blog-post-title"><a href="{% url 'blog:detail' slug=article.slug %}">{{ article.titre }}</a></h2>
            <p class="blog-post-meta">
                {% for cat in article.categorie.all %}
                    <a href="{% url 'blog:categorie' cat %}" ><span class="label label-info"><strong>{{ cat }}</strong></span></a>
                {% endfor %}
                Publié le {{ article.date_de_parution }}
            </p>

            <p>{{ article.contenu|markdown }}</p>

            <h3 id="commentaires">Vos commentaires alakon</h3>

            {% if article.commentaire_set.all.exists %}
                {% for com in article.commentaire_set.all %}
                    <div class="well">
                        <h3>{{ com.titre }}{% if com.utilisateur.is_staff %}<small class="text-danger"> Réponse Chêteam</small>{% endif %}</h3>
                        <p class="small text-muted">Commentaire posté par {{ com.utilisateur.username }} le {{ com.date_de_parution }}</p>
                        <p>{{ com.contenu }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucuns commentaires pour le moment.</p>
            {% endif %}

            <form method="post" action="{% url 'blog:commenter' article.slug %}" class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Commenter</h2>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="titre" class="col-lg-2 control-label">Titre</label>
                                <div class="col-lg-10">
                                    <input id="titre" type="text" name="titre" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contenu" class="col-lg-2 control-label">Message</label>
                                <div class="col-lg-10">
                                    <textarea id="contenu" name="contenu" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default form-control">Poster</button>
                        </fieldset>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}