{% extends "blog/layout.html" %}

{% load django_markdown %}
{% block subtitle %}
    {% if not index %}
        <h3>Articles avec la catégorie : {{ categorie }}</h3>
    {% endif %}
{% endblock %}

{% block post %}
    <div class="col-sm-8 blog-main">
        {% for article in object_list %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% url 'blog:detail' slug=article.slug %}">{{ article.titre }}</a></h2>
                <p class="blog-post-meta">Publié le {{ article.date_de_parution }} dans les catégories <strong>{{ article.categorie.all|join:", " }}</strong></p>
                <p>{{ article.contenu|markdown }}</p>
            </div><!-- /.blog-post -->
        {% endfor %}

        <nav>
            <ul class="pager">
                {% if page_obj.has_previous %}
                    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">← Précédents</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="next"><a href="?page={{ page_obj.next_page_number }}">Suivants →</a></li>
                {% endif %}
            </ul>
        </nav>
    </div><!-- /.blog-main -->
{% endblock %}