{% extends 'website/templates/layout.html' %}
{% block title%}La Chête - Un champ, une fête ! GPS{% endblock %}
{% block style %}
    {% comment %}TODO Ganapati: le top serait un bloc fixe avec dedans les étapes en scrollable bloc de 50% en bas{% endcomment %}
    {% comment %}TODO Ganapati: refresh du parcours trop rapide sur Android, à régler{% endcomment %}
<style>
  #map {width:100%; height:50%;}
  #map-panel {width:100%;}
  #panel-content {width:100%; height:50%; overflow: scroll;}
  .container {height: 100%}
</style>
{% endblock %}

{% block script %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script>
    $( document ).ready(function() {
        var init = false;
        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer();
        var map;
        var users = {};
        var infowindow = {};
        var myLatLng;
        initGeolocation();

        function initGeolocation() {
            if (navigator && navigator.geolocation) {
            var watchId = navigator.geolocation.watchPosition(successCallback,
                                                              errorCallback,
                                                              {enableHighAccuracy:true,timeout:60000,maximumAge:0});

            } else {
              console.log('Geolocation is not supported');
            }
          }

      function update_users_position() {
        $.getJSON( "/gps/users/", function( data ) {
            for (val in data) {
                if (users[data[val].username] == undefined) {
                    users[data[val].username] = new google.maps.Marker({
                        position: new google.maps.LatLng(data[val].userposition__latitude, 
                                                         data[val].userposition__longitude),
                        icon: {
                          path: google.maps.SymbolPath.CIRCLE,
                          scale: 5
                        },
                        map: map
                    });
                    infowindow[data[val].username] = new google.maps.InfoWindow({ // Create a new InfoWindow
                         content: data[val].username
                        });
                    google.maps.event.addListener(users[data[val].username], 'click', function() {
                            infowindow[data[val].username].open(map, users[data[val].username]); 
                        });
                } else {
                    users[data[val].username].position = new google.maps.LatLng(data[val].userposition__latitude,
                                                                                data[val].userposition__longitude)
                }
            };
        });
      }

      function errorCallback() {}

      function successCallback(position) {
          myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          if (init == false){
             var myOptions = {
              zoom: 15,
              center: myLatlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
             map = new google.maps.Map(document.getElementById("map"), myOptions);
             var request = {
                origin: myLatlng,
                destination: new google.maps.LatLng({{ field_position.latitude }},{{ field_position.longitude }},17),
                travelMode: google.maps.TravelMode.DRIVING
              }
           directionsDisplay.setMap(map);
          directionsService.route(request, function(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
               directionsDisplay.setDirections(result);
            } else {
              console.log(status);
            }
         });
          directionsDisplay.setPanel(document.getElementById("map-panel"));
            init = true;
            } else {
                update_users_position();
                map.panTo(myLatlng);
            }
     }
});

</script>
{% endblock %}

{% block content %}
            <div id="map"></div>
            <div id="panel-content">
                <div id="map-panel"></div>
            </div>
{% endblock %}

