@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 60px;
    }
}
@media (max-width: 991px) {
    .featurette-heading {
        text-align: center;
    }
    .featurette-heading .btn {
        text-align: center;
    }
    .lead {
        text-align: center;
    }
    .featurette p {
        text-align:center
    }
}