{% extends "website/templates/layout.html" %}

{% load static %}

{% block style %}
    <link href="{% static 'website/css/signin.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}La Chête - login{% endblock %}

{% block content %}

    <div class="login">
        {% if error %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <strong>{{ error.message }}</strong>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="alert alert-info">
                Tu es déjà enregistré, <strong>{{ user.username }}</strong> !
            </div>
        {% else %}
            <h1>Pas de compte ?</h1>
            <form method="post" action="{% url 'website:register' %}" class="form-signin">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">En créer un !</h2>
                    </div>
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <button type="submit" class="btn btn-default form-control">S'enregister</button>
                    </div>
                </div>
            </form>

        {% endif %}
    </div>

{% endblock %}
