{% extends 'website/layout.html' %}

{% load static %}

{% load bootstrap %}

{% block style %}
    <link href="{% static 'website/css/signin.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}La Chête - Changement de mot de passe{% endblock %}

{% block content %}

    <div class="login">

        <h1>Changement de mot de passe</h1>

        {% if not validlink %}
            <div class="alert alert-danger form-signin">
                <span class="glyphicon glyphicon-remove"></span>
                <strong>Ce lien n'est plus valide !</strong>
            </div>
        {% else %}
            <form method="post" class="form-signin">
                <div class="panel">
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary form-control">Submit</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}