{% extends "website/templates/website/layout.html" %}

{% block title %}La Chête - sondages{% endblock %}

{% block content %}

    <h1>{{ question.question_text }} <small>Sélectionne ton choix et vote !</small></h1>

    {% if error_message %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error_message }}
        </div>
    {% endif %}

    {% if vote %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Tu as déjà voté !
        </div>
    {% endif %}

    {% if question.open and not vote %}
        <form action="{% url 'sondages:vote' question.slug %}" method="post">
            {% csrf_token %}
            {% for choix in question.choix_set.all %}
                <input type="radio" name="choix" id="choix{{  forloop.counter }}" value="{{ choix.id }}" />
                <label for="choix{{  forloop.counter }}">{{ choix.choix_text }}</label><br />
            {% endfor %}
            <button type="submit" class="btn btn-primary">Voter</button>
            <a href="{% url 'sondages:index' %}" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"> Revenir aux sondages</span></a>
        </form>
    {% else %}
        <a href="{% url 'sondages:resultats' question.slug %}" class="btn btn-info"><span class="glyphicon glyphicon-arrow-right"> Voir les résultats</span></a>
    {% endif %}

{% endblock %}