{% extends "base.html" %}

{% block title %}La Chête - sondages{% endblock %}

{% block content %}

    <h1>{{ question.question_text }} <small>Séléctionne ton choix et vote !</small></h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{%  url 'sondages:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choix in question.choix_set.all %}
            <input type="radio" name="choix" id="choix{{  forloop.counter }}" value="{{ choix.id }}" />
            <label for="choix{{  forloop.counter }}">{{ choix.choix_text }}</label><br />
        {% endfor %}
        {# TODO Ne permettre qu'un seul vote.#}
        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Un seul vote par personne !">Voter</button>
    </form>

{% endblock %}