{% extends "base.html" %}

{% block title %}La Chête - Les sondages{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Les sondages</h1>
        {% with latest_question_list|first as last_question %}
            <p>Dernier sondage en cours :</p>
            <p>{{ last_question.question_text }}<br/>Question posée le {{ last_question.pub_date }}</p>
            <p><a class="btn btn-lg btn-success" href="{% url 'sondages:detail' last_question.id %}" role="button">Voir les choix et voter</a></p>
        {% endwith %}
    </div>

    <h1>Autres sondages en cours</h1>
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <p class="lead"><a href="{% url 'sondages:detail' question.id %}">{{ question.question_text }}</a><br/>Question posée le {{ question.pub_date }}</p>
        {% endfor %}
    {% else %}
        <p>Aucuns sondages disponibles.</p>
    {% endif %}

    <h1>Sondages terminés</h1>
    {% if latest_question_list.closed_questions %}
        {% for question in latest_question_list.closed_questions %}
            <p class="lead"><a href="{% url 'sondages:detail' question.id %}">{{ question.question_text }}</a><br/>Question posée le {{ question.pub_date }}</p>
        {% endfor %}
    {% else %}
        <p>Aucuns sondages terminés.</p>
    {% endif %}

{% endblock %}