{% extends "website/templates/layout.html" %}

{% block title %}La Chête - Les sondages{% endblock %}

{% block style %}
    <!-- Custom styles for this template -->
    <link href="/sondages/static/sondages/carousel.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1>{{ question.question_text }} <small>Les résultats</small></h1>

    <ul>
        {% for choix in question.choix_set.all %}
            <li>{{ choix.choix_text }} -- {{ choix.votes }} vote{{  choix.votes|pluralize }}</li>
        {% endfor %}
    </ul>

    <p>Question ouverte le {{ question.pub_date }}</p>
    <a href="{% url 'sondages:detail' question.id %}" class="btn btn-default{% if not question.open %} disabled{% endif %}" data-toggle="tooltip" data-placement="right" title="Un seul changement de vote !">Changer votre vote ?</a>


{% endblock %}