{% extends "base.html" %}

{% block title %}La Chête - Les sondages{% endblock %}

{% block style %}
    <!-- Custom styles for this template -->
    <link href="/sondages/static/sondages/carousel.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1>{{ question.question_text }} <small>Les résultats</small></h1>

    <ul>
        {% for choix in question.choix_set.all %}
            <li>{{ choix.choix_text }} -- {{ choix.votes }} vote{{  choix.votes|pluralize }}</li>
        {% endfor %}
    </ul>

    <p>Question ouverte depuis le {{ question.pub_date }}</p>
    <a type="button" class="btn btn-default" href="{% url 'sondages:detail' question.id %}">Voter à nouveau ?</a>

{% endblock %}